*{margin:0px;padding:0px;}
body{font-family:'Microsoft YaHei'; font-size:100%; font-weight:100; overflow-x:hidden;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
img{border:none;}

/* All */
body,.head,.banner01 a,.section_01 img,.section_02_main,.diary,.section_03_main,.step_summary,.stepline,.step,.aside_up{

	-webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
}
.teacher_avatar img{

	-webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;

}
.nav a,.figc,.figc_foc{	

	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-ms-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	transition-duration:0.2s;
}
.head_clear{

    -webkit-transition:all 0s linear;
    -moz-transition:all 0s linear;
    -ms-transition:all 0s linear;
    -o-transition:all 0s linear;
    transition:all 0s linear;
}
.aside_menu,.m_logo,.m_li,.t_li,.back{display:none;}
.content{position:relative; width:100%;}
.banner{width:100%; margin-top:120px;}
.banner_img{width:980px; height:540px; margin:0 auto;}

/* Header */
.header{width:100%; height:120px; position:fixed; top:0px; z-index:99; background-color:#353535; opacity:0.9;

	-webkit-box-shadow:0px 2px 5px #353535;
	-moz-box-shadow:0px 2px 5px #353535;
	box-shadow:0px 2px 5px #353535;
	behavior:url(./js/PIE.htc);
}
.head{height:100%; margin:0 auto;}
.head_max{width:1200px;}
.head_medium{width:960px;}
.logo{float:left; margin-top: 16px;}
.right{width:600px; height:120px; float:right; margin-top: 16px;}
.tel{line-height:18px; padding:0px 6px;}
.tel p{float:left; color:#CCC;}
.tel p:last-child{float:right;}
.tel p a{color:#FFB080;}
.nav{float:right; line-height:20px; margin-top:25px;}
.nav li{float:left;}
.nav a{display:block; width:90px; margin:7px; padding:4px 8px; color:#FFF; background-color:#6e6e6e; text-align:center; letter-spacing:1px;}
.nav a:hover{color:#000; background-color:#CCC;}

/* Footer */
.footer{background-color:#353535; text-align:center; padding:18px 0px; position:relative; z-index:6; clear:both;

	-webkit-box-shadow:0px -2px 5px #353535;
	-moz-box-shadow:0px -2px 5px #353535;
	box-shadow:0px -2px 5px #353535;
	behavior:url(./js/PIE.htc);
}
.footer_main,.footer_main a{width:980px; margin:0 auto; line-height:28px; color:#FFF; font-size:14px;}
.footer_main p{display:inline;}

/* Icon */
.aside_up{width:40px; height:40px; background-color:#000; position:fixed; bottom:0px; right:10px; z-index:99;opacity:0.3; cursor:pointer; display:none;

	-webkit-border-radius:3px; 
	-moz-border-radius:3px; 
	border-radius:3px; 
	behavior:url(./js/PIE.htc);
}
.aside_up:hover{opacity:0.6;}
.aside_up div{width:14px; height:14px; margin:11px auto;}
.aside_up img{width:100%; height:100%;}

/* Apply */
.apply_page{background:url('../images/apply_bg.png') 50% 50% / cover no-repeat fixed;}
.apply_content{width:500px; height:500px; position:absolute; left:50%; margin-left:-250px;

	-webkit-box-shadow:0px 0px 10px #00C1FF;
	-moz-box-shadow:0px 0px 10px #00C1FF;
	box-shadow:0px 0px 10px #00C1FF;

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior:url(./js/PIE.htc);
}
.apply_content_max{top:50%; margin-top:-250px;}
.apply_content_min{top:0px; margin-top:0px;}
.apply_box{margin:50px; color:#FFF;}
.apply_box p{color:#3FB0D5; line-height:36px; font-size:24px; text-align:center; margin-bottom:20px;}
.apply_box #get_info{font-size:0.9em; line-height:18px; margin-top:12px;}
.apply_box lable{color:#FFF; font-size:18px;}
.apply_box input{border:0px;}
.apply_box input[type="text"]:focus,input[type="email"]:focus{

	-webkit-box-shadow:0px 0px 10px #FFF;
	-moz-box-shadow:0px 0px 10px #FFF;
	box-shadow:0px 0px 10px #FFF;
	behavior:url(./js/PIE.htc);
}
.apply_box input[type="text"],input[type="email"]{width:300px; height:32px; margin-top:10px;}
.apply_box input[type="reset"],input[type="submit"]{width:150px; height:40px; background-color:#3FB0D5; border:0px; color:#FFF; font-size:16px; font-weight:600; letter-spacing:1px; margin:16px 23px 0px; cursor:pointer;}
.apply_box input[type="reset"]:hover,input[type="submit"]:hover{

	-webkit-box-shadow:0px 0px 10px #3FB0D5;
	-moz-box-shadow:0px 0px 10px #3FB0D5;
	box-shadow:0px 0px 10px #3FB0D5;
	behavior:url(./js/PIE.htc);
}
.apply_box i{display:block; color:#3FB0D5; margin:6px 0px 0px 90px; height:22px;}
#get_info{line-height:1.5em; word-wrap:break-word;}

/* Index */
.slider { position: relative; width: 100%; height: 540px; overflow: hidden; background:url('../images/banner_01.jpg') no-repeat;}
.slider__wrapper { height: 100%; list-style: none; overflow: hidden; *zoom: 1; -webkit-backface-visibility: hidden; -webkit-transform-style: preserve-3d;}
.slider__item { height: 100%; float: left; clear: none;}
.slider__arrows-item { position: absolute; display: block; margin-bottom: -20px; padding: 20px;}
.slider__arrows-item--right { bottom: 50%; right: 30px;}
.slider__arrows-item--left { bottom: 50%; left: 30px;}
.slider__nav { position: absolute; bottom: 30px;}
.slider__nav-item { width: 12px; height: 12px; float: left; clear: none; display: block; margin: 0 5px; background: #CCC;}
.slider__nav-item--current { background: #999;}
.slider__nav-item:hover { background: #999;}
.box { width: 100%; height: 100%;}
.box img {position:relative; left:50%; margin-left:-500px;}

.main{position:relative; z-index:1;}
.font{color:#484848; font-size:26px; text-align:center; letter-spacing:1px; padding-top:30px;}

.section_01{height:540px; overflow:hidden; position:relative; z-index:2;}
.section_01 .moment img:first-child{margin:0px 12% 100px 0px; -webkit-box-reflect:below 1px -webkit-gradient(linear,0% 30%,-10% 300%, from(rgba(255,255,255,0)), to(white))}

.section_02{position:relative; z-index:3;

	-webkit-box-shadow:0px -5px 10px #D8D8D8;
	-moz-box-shadow:0px -5px 10px #D8D8D8;
	box-shadow:0px -5px 10px #D8D8D8;
}
.section_02 .font_02{padding-top:10px;}
.section_02_main{margin-top:50px;}
.section_02_main_max{width:100%; padding:0% 5%;}
.section_02_main_medium{padding:0px;}
.diary{width:20%; float:left;}
.diary_max{margin:0% 5% 50px;}
.diary_medium{margin:0px 54px 50px;}
.diary h4{width:100%; min-width:300px; margin-top:30px; font-size:24px;}
.diary_detials{width:90%; min-width:300px; margin:0 auto; background-color:#FFF;

	-webkit-box-shadow:5px 5px 20px #969696;
	-moz-box-shadow:5px 5px 20px #969696;
	box-shadow:5px 5px 20px #969696;
}
.diary_detials img:first-child{position:relative; top:-145px; left:-10px;}
.diary_detials img:last-child{margin:30px 0px 20px;}
.diary_summary{width:100%; min-width:300px; margin-top:10px; text-indent:2em; font-size:14px; font-weight:400; line-height:28px; text-align:left;}

.section_03{position:relative; z-index:4; clear:both;

	-webkit-box-shadow:0px -5px 10px #D8D8D8;
	-moz-box-shadow:0px -5px 10px #D8D8D8;
	box-shadow:0px -5px 10px #D8D8D8;
}
.section_03_main_max{margin:50px 10% 0%;}
.section_03_main_medium{margin:50px 0% 0%;}
.section_03 section{width:20%; float:left;}
.section_03 img{width:100%; margin-top:10px;

	-webkit-box-shadow:0px 0px 10px gray;
	-moz-box-shadow:0px 0px 10px gray;
	box-shadow:0px 0px 10px gray;
	behavior:url(./js/PIE.htc);
}
.section_03 a:hover{opacity:0.8;}
.section_03 h6{font-size:20px; font-weight:100; position:relative; border-top:5px solid #5dade2; margin-bottom:5px; cursor:pointer;

	-webkit-box-shadow:0px 0px 10px gray;
	-moz-box-shadow:0px 0px 10px gray;
	box-shadow:0px 0px 10px gray;
	behavior:url(./js/PIE.htc);
}
.figc{margin-top:-10px; background-color:#999; padding:10px 0px;}
.figc_foc{margin-top:-30px; background-color:#FFF; padding:20px 0px;}
.figc_odd{border-top:5px solid #ec7064 !important; background-color:#f3f3f3;}

.section_04{background-color:#454545; position:relative; z-index:5; clear:both;

	-webkit-box-shadow:0px -5px 10px #BBB;
	-moz-box-shadow:0px -5px 10px #BBB;
	box-shadow:0px -5px 10px #BBB;
	behavior:url(./js/PIE.htc);
}
.section_04 h2{color:#CCC;}
.section_04_main{margin-top:50px; height:300px;}
.step_summary{width:980px; height:30px; margin:20px auto;} 
.step_summary p{margin-left:110px; float:left;}
.step_summary p:first-child{color:#efa517;}
.step_summary p:last-child{color:#12b5e9;}
.step_detials{width:980px; margin:50px auto;}
.step_detials > p{font-size:18px; color:#12b5e9; float:left; position:relative; top:100px;}
.step{width:115px; height:80px; float:left; background:url('../images/step.png') no-repeat; font-size:18px; color:#FFF; position:relative;}
.step:nth-child(1){left:100px !important;}
.step:nth-child(2){left:288px !important;}
.step:nth-child(3){left:491px !important;}
.step > p{margin-top:6px;}
.step > p:last-child{width:210px; color:#12b5e9; margin:60px 0px 0px -46px;}
.stepline{height:23px; background:url('../images/axis.png') no-repeat; background-size:100% 90%; position:relative; top:85px;}

/* About */
.banner02{background:url('../images/banner_02.jpg') no-repeat;}
.about_ar{width:100%;}
.about_se{width:80%; min-width:980px; margin:30px auto;}
.about_se h2{font-size:30px; text-align:center; margin-bottom:20px; color:#565656;}
.about_se p{text-indent:2em; font-size:18px; text-align:left; color:gray; line-height:36px;}

/* Course */
.banner03{background:url('../images/banner_03.jpg');}
.course{width:60%; min-width:980px; margin:30px auto;}
.course1_ora,.course1_blue,.course2_ora,.course2_blue{width:50%; text-align:center; line-height:56px; font-size:24px; font-weight:bold; cursor:pointer;}
.course1_ora,.course2_ora{color:orange; border:1px solid orange; border-bottom:none;}
.level,.install{width:100%; border:1px solid orange; border-top:none;}
.level div{padding:50px;}
.level img{width:100%;}
.course1_blue,.course2_blue{color:#42a6e5; border-bottom:1px solid orange; position:relative; left:1px;}
.course2_blue{top:1px;}
.course1_blue,.course2_ora{float:right; position:relative; bottom:56px;}
.course2_ora{left:2px;}
.course1_none,.course2_none{display:none;}
.install{padding:20px 0px; width:100%;}
.install section{width:92%; padding:20px 4%;}
.install img{float:left; margin-right:30px;}
.install h3{font-size:30px; line-height:36px; margin-bottom:20px; white-space:nowrap;}
.install p{font-family:simsun; font-size:14px; font-weight:bold; color:#919398; letter-spacing:1px; line-height:26px;}
.install_1 h3{color:orange;}
.install_2 h3{color:#22a2d1;}
.install_3 h3{color:#82bf40;}

/* Teacher */
.banner04{background:url('../images/banner_04.jpg') no-repeat;}
.teacher_sec_max{width:80%; margin:30px 10%;}
.teacher_sec_medium{width:100%; margin:30px 0%;}
.teacher_tit{background-color:#999;}
.teacher_tit h2{padding-left:30px; line-height:48px; color:#FFF;}
.teacher_tit a{float:left; margin-top:-35px; position:relative; left:180px; color:#FFCBAB;}
.teacher_avatar{margin:30px 0px 80px;}
.teacher_avatar div{width:15%; display:inline-block; white-space:nowrap; margin:20px 0.6% 0px;}
.teacher_avatar a{text-align:center; color:gray; display:block; overflow:hidden;

	-webkit-border-radius:5%;
	-moz-border-radius:5%;
	border-radius:5%;
}
.teacher_avatar img{width:100%; position:relative;}
.teacher_avatar img:hover{width:114%; margin:-7% 0px 0px -7%;}
.teacher_avatar img[data-position="top_10"]{top:-10px;}
.teacher_avatar img[data-position="top_30"]{top:-30px;}
.teacher_avatar img[data-position="top_40"]{top:-40px;}
.teacher_avatar span{width:100%; text-align:center; display:inline-block; margin:10px 0px 0px; cursor:pointer;}

/* Infomation */
.teacher_info{font-weight:100;}
.teacher_info_max{width:70%; margin:30px 15%;}
.teacher_info_medium{width:90%; margin:30px 5%;}
.info_tit{width:100%;}
.info_tit h2{line-height:64px; font-weight:100;}
.info{width:100%; min-height:240px; border-top:1px solid #bebebe; padding-top:20px;}
.info h3{float:left; font-size:20px;}
.info h3 + span{color:orange; line-height:26px; margin-left:2%;}
.info_1 article{margin:10px 0px 10px 3%;}
.info_1 img{width:20%; min-width:250px; max-width:265px; float:right; margin-top:5px;

	-webkit-box-shadow:-5px 5px 5px gray;
	-moz-box-shadow:-5px 5px 5px gray;
	box-shadow:-5px 5px 5px gray;
	behavior:url(./js/PIE.htc);
}
.info_1 p{line-height:48px; font-weight:400; color:gray;}
.info_1 p span{padding:0px 16px; background-color:#E4E4E4; margin-right:6px;}
.info_2 article{margin:10px 0px;}
.info_2 #video{width:30%; min-width:350px; float:right; margin:5px 0px 10px 40px; cursor:pointer;

	-webkit-box-shadow:-5px 5px 5px gray;
	-moz-box-shadow:-5px 5px 5px gray;
	box-shadow:-5px 5px 5px gray;
	behavior:url(./js/PIE.htc);
}
.info_2 #video #vjs_video_4{width:100% !important; height:100% !important;}
.info_2 p{text-indent:2em; line-height:30px; color:gray; margin-bottom:10px;}
.info_2 p:nth-child(1){font-family:Arial,Verdana,Sans-serif; font-size:14px;}