*{margin:0px;padding:0px;border:0px;}
body{font:100 100% 'Microsoft YaHei'; overflow-x:hidden; background-color:rgb(55,55,55);}
ul,ol,li{list-style:none;}
a{text-decoration:none; color:#FFF;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
img{border:none;}

/* All */
.logo,.tel,.t_li,.aside_up,.apply_box input[type="reset"],.banner,.section_01 img:nth-of-type(2),.diary_detials img:first-child,.section_03 section:nth-child(5),.course1_blue,.course2_blue{display:none;}
.content{position:relative; z-index:10;}

/* Icon */
.aside{height:0px;

    -webkit-transition:all 1s linear;
    -moz-transition:all 1s linear;
    -ms-transition:all 1s linear;
    -o-transition:all 1s linear;
    transition:all 1s linear;
}
.aside_menu{width:10%; position:fixed; right:10%; z-index:98;}
.aside_menu div{width:60%; padding:20%;}
.aside_menu img{width:100%;}

/* Header */
.header{width:100%; height:0px;}
.head{width:100%; position:fixed; top:-100%; z-index:99;

    -webkit-transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
}
.nav{width:100%;}
.nav li{width:50%; float:left;

    -webkit-box-shadow:0px 0px 10px;
    -moz-box-shadow:0px 0px 10px;
    box-shadow:0px 0px 10px;
}
.nav li:nth-child(1){background-color:#e06b64;}
.nav li:nth-child(2){background-color:#1B9A7D;}
.nav li:nth-child(3){background-color:#009EB0;}
.nav li:nth-child(4){background-color:#7e4b83;}
.nav li:nth-child(5){background-color:#755155;}
.nav li:nth-child(6){background-color:#545b6d;}
.nav li:nth-child(7){width:100%; background-color:rgba(0,0,0,0.8);}
.nav li:nth-child(7) div{width:14px; position:relative;}
.nav a{text-align:center; display:block; font-weight:100; letter-spacing:1px;}

/* Footer */
.footer{width:100%; position:relative; z-index:10; background:#1b9a7d; clear:both;}
.footer_main{color:#FFF; padding:20px 5%; line-height:1.5em;}
.footer_main > p:nth-of-type(1){display:none;}
.footer_main > p:nth-of-type(2){font-style:oblique; font-size:0.8em; margin-top:10px;}

/* Apply */
.apply_page{background:url('../images/apply.jpg') 50% 50% / cover no-repeat fixed; color:#CCC;}
.apply_page a{padding:10px; margin-top:10%; display:block;}
.apply_content{width:100%;}
.apply_box{width:90%; margin:5% 5% 0%;}
.apply_box p{text-align:center; font-size:1.3em; line-height:3em;}
.apply_box form{margin-top:5%; background-color:rgba(0,0,0,0.3); padding:5%;}
.apply_box lable{line-height:1.6em; font-size:0.9em; float:left;}
.apply_box input{width:100%; line-height:2.5em; height:2.5em;}
.apply_box input:focus{

    -webkit-box-shadow:0px 0px 5px #FFF;
    -moz-box-shadow:0px 0px 5px #FFF;
    box-shadow:0px 0px 5px #FFF;
}
.apply_box input:nth-last-child(1){color:#FFF; font-size:0.9em; background-color:#30728c; margin-top:1.6em;

    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.apply_box i{display:block; margin-top:4px; height:22px;}
#get_info{width:90%; margin:10px 5% 0px; font-size:1em; color:#FFF; line-height:2em; word-wrap:break-word;}

/* Index */
.m_logo{width:100%; background:url('../images/bg.jpg') 50% 50% / cover no-repeat fixed;}
.m_logo div{width:60%; height:100%; padding:40% 20%; background-color:rgba(0,0,0,0.5);}
.m_logo img{width:100%;}

.section_01{width:100%; position:relative;}
.section_01 h2{line-height:3em; text-align:center; background-color:#65514e; color:#FFF;}
.section_01 .font div{width:100%; overflow:hidden;}
.section_01 img:nth-of-type(1){width:100%;}

.section_02{width:100%; margin-top:-5px; background-color:#0e3b40;}
.section_02 h2{padding-bottom:6%; color:#FFF; font-size:1.5em; text-align:center;}
.section_02 .diary{padding-top:10%;}
.section_02 .diary:nth-of-type(1){background-color:#326773;}
.section_02 .diary:nth-of-type(2){background-color:#D36458;}
.section_02 .diary:nth-of-type(3){background-color:#8C505B;}
.section_02 .diary_detials{width:34%; margin:0% 33%; overflow:hidden;

    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.section_02 .diary_summary{border-top:1px solid #FFF;}
.section_02 img{width:150%; margin-left:-25%;}
.section_02 h4{width:90%; margin:0% 5%; color:#FFF; line-height:3em; text-align:center;}
.section_02 p{width:88%; padding:6%; color:#FFF; font-size:0.9em; line-height:2em; text-indent:2em;}

.section_03{width:100%; background-color:#34495e; position:relative; z-index:12;}
.section_03 h2{color:#FFF; font-size:1.5em; text-align:center; line-height:3em;}
.section_03 section{width:50%; display:block; float:left;}
.section_03 h6{width:60%; margin:-50px 0% 0% 40%; padding:12px 0px; background-color:rgba(0,0,0,0.3); color:#FFF; text-align:center; font-size:0.9em; position:relative; top:-30px;}
.section_03 img{width:100%;}

.section_04{width:100%; margin-bottom:30px; position:relative; top:30px; z-index:11;}
.section_04 h2{padding:8% 0px; color:#FFF; font-size:1.5em; text-align:center; line-height:0.5;}
.section_04_main{padding:5%; color:#FFF; background-color:#907364; text-align:center;}
.section_04 p{padding:2px 0px;}
.section_04 .step_summary p:first-child{font-size:1.4em;}
.section_04 .step{padding:5px 0px;}
.section_04 .step p:nth-last-of-type(1){color:#000;}

/* About */
.about_ar{width:100%;}
.about_ar h2{width:100%; padding-left:5%; line-height:2.5em; color:#FFF; background-color:#1B9A7D;}
.about_ar p{width:90%; padding:0px 5% 20px; margin-top:20px; line-height:2em; color:#FFF; font-size:0.9em; text-indent:2em; letter-spacing:1px;}

/* Course */
.course{width:100%; background-color:rgba(0,0,0,0.3); font-size:0.9em;}
.course h2{font-size:1.2em; line-height:3em; color:#FFF; background-color:#32a39f;}
.course img{width:100%; opacity:0.9;}
.course2{margin-top:-5px;}
.course2 h3{width:40%; padding:15px; margin-top:-50px; text-align:center; font-size:1.1em; color:#FFF; letter-spacing:1px; background-color:rgba(0,0,0,0.5);  position:relative; top:-50px;}
.course2 article{padding-bottom:20px; color:#CCC;}
.course2 p{margin:10px 5%; text-indent:2em; line-height:1.5em;}
.course2 p:nth-of-type(1){color:rgb(0, 190, 190); font-size:1.1em; text-indent:0em;}

/* Teacher team */
.teacher_sec{width:100%; background-color:#7e4b83; clear:both;}
.teacher_tit{padding:0px 2%; line-height:3em;}
.teacher_tit h2{color:#FFF; line-height:3em; font-size:1.2em;}
.teacher_tit a{float:right; margin-top:-3.6em; font-size:0.9em;}
.teacher_avatar{width:100%;}
.teacher_avatar div{width:33.3%; float:left;}
.teacher_avatar a{width:100%; display:block; overflow:hidden;}
.teacher_avatar img{width:100%;}
.teacher_avatar span{width:99%; margin:-0.3em 0.5% 0%; padding:5px 0px; display:block; background-color:#545b6d; color:#FFF; text-align:center; font-size:0.9em; position:relative;}

/* Teacher info */
.teacher_info{width:100%; background-color:rgba(0,0,0,0.3); padding-bottom:10px;}
.teacher_info h2{font-size:1.2em; line-height:3em; color:#FFF; background-color:rgb(0, 190, 190);}
.teacher_info section{margin-top:15px;}
.info img{width:50%; margin-right:10px; float:left;} 
.info h3,.info h3 + span{color:rgb(0, 190, 190); line-height:2em;}
.info p{color:#CCC; font-size:0.9em; margin:5px 0px; line-height:1.5em;}
.info_2{margin-top:20px;}
.info_2 h3{float:left; line-height:1.8em; margin-left:2%;}
.info_2 h3 + span{float:right; margin-right:2%;}
.info_2 #video{width:100%; clear:both; position:relative; z-index:10; cursor:pointer;}
.info_2 p{width:94%; margin:10px 3%; text-indent:2em;}
.info_2 p:nth-child(1){font-family:Arial,Verdana,Sans-serif; line-height:1.4em;}